.feynman__link {
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 3;
    margin: 0;
    text-decoration:none;  
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.feynman__link:hover {
    opacity: .3;
}