.section_title_theme_dark {
    display: flex;
    justify-content: center;
    font-size: 60px;
    line-height: 1.15;
    font-weight: 600;
    width: 60%;
    margin-top: 90px;
    margin-bottom: 20px;
    color: white;
  }