.feynman {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f2f2f2;
    position: relative;
    min-height: 890px;
  }


 /* .feynman__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
  } 