.footer__column-link {
    margin: 0 0 10px;
    display: flex;
    flex-direction: row;
    transition: .5s ease-in-out;    
    text-decoration:none;
    padding: 0;
    color: white; 
  }

  .footer__column-link:hover {
    opacity: .6;
  }