.khan__book-container_buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed; 
    text-decoration:none;
    transition: .5s ease-in-out;
    align-self: flex-start;
}

.khan__book-container_buy-link:hover {
    opacity: .6;
}