.resources
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.resources__section-title
{
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  width: 60%;
  margin: 100px auto 20px;
}

.resources__section-subtitle
{
  font-size: 24px;
  line-height: 34p;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
}

.resources__logo-zone
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 80px auto 217px;
  width: 1100px;
}

.resources__link
{
  width: 270px;
  height: 38px;
}

footer
{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 350px;
}

.columns
{ 
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px;

}

.content_copyright
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo__place_footer
{
  display: flex;
  width: 228px;
  height: 32px;
}

.footer_author
{
  color: white;
  margin: 18px auto 18px 0;
  display: flex;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.content_info
{
  color: white;
  display: flex;
  flex-direction: column;
}

.column-heading
{
  color: white;
  display: flex;
  margin: 0 0 20px;
 
}

.content_social
{
  display: flex;
  flex-direction: column;
  color: white;
 
}

.column-link
{
  display: flex;
  flex-direction: row;
  margin: 0 0 10px;
  text-align: center;
}

.column-links
{
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration:none;
}

.social-icon
{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}





/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

